@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  outline: none;
  font-size: font-size('base');
  line-height: line-height('normal');
  font-weight: font-weight('normal');
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  background-color: $color-bg;
  color: $color-text;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 370px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  flex: 1;
}
